{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}
{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}
{% block content %}

<style>
  .container{
    max-width: 500px;
    width: 100%;
    
    margin: auto;
    margin-top: 100px;
    border: 1px solid #04C4D9;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
  }
  h1,#email{
    color: #04C4D9;
  }

  #email{
    font-weight: bold;
  }
  p{
     margin-top: 10px;
    color: white;
  }


  button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #04C4D9;
  }
</style>
<div class="container text-center">
    {% element h1 %}
        {% trans "Confirm Email Address" %}
    {% endelement %}
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            {% element p %}
                {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a id="email" href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}
            {% endelement %}
            {% url 'account_confirm_email' confirmation.key as action_url %}
            {% element form method="post" action=action_url %}
                {% slot actions %}
                    {% csrf_token %}
                    {{ redirect_field }}
                    {% element button type="submit" %}
                        {% trans 'Confirm' %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% else %}
            {% element p %}
                {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
            {% endelement %}
        {% endif %}
    {% else %}
        {% url 'account_email' as email_url %}
        {% element p %}
            {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
        {% endelement %}
    {% endif %}
  </div>
{% endblock content %}
