<!-- filepath: e:\PFE_Dev\SchoolManagement\Edusco\templates\account\logout.html -->
{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}


{% block content %}
<style>
    .form-section{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin: 100px auto;

    }
    .logout-container {
        background-color: transparent;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 10px  #04C4D9;
        width: 350px;
        height: auto;
        text-align: center;
        color: white;
      
    }
    
    /* Title */
    h2 {
        margin-bottom: 20px;
        color: white;
    }
    
    
    /* Button */
    .logout-btn {
        background-color: rgb(202, 0, 0);
       
    }
    
    .logout-btn:hover {
        background-color: rgb(141, 0, 0);
    }
    
    /* Liens */
    .links {
        margin-top: 15px;
    }
    
    .links a {
        color: #04C4D9;
        text-decoration: none;
        font-size: 14px;
    }
    
    .links a:hover {
        text-decoration: underline;
    }
    .conditions a{
        color: white;
    }
</style>

<div class="form-section">


<div class="logout-container">
    <h2>{% trans "Logout" %}</h2>
    {% url 'account_logout' as action_url %}
    <form action="{{ action_url }}" method="POST">
        {% csrf_token %}
        {{ redirect_field }}

        <button type="submit" class="log-btn logout-btn">Se deconnecter</button>

        <div class="links">
            <a>{% trans "Souhaitez-vous faire un retour?" %}</a>
            <a href="{% url 'dashboard_home' %}">{% trans "Home page" %}</a>
        </div>
    </form>
</div>
  <div class="container conditions mt-4 text-center">
    <a href="#">Condition d'utilisation</a> |
    <a href="#">Politique de confidentialité</a>
  </div>
</div>
{% endblock content %}