{% extends "account/base.html" %}

{% load static %}
{% load i18n allauth account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}

<style>
    .reset-container{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin: 100px auto;

    }
    .p_reset-form {
        background-color: transparent;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 10px #04C4D9;
        width: 350px;
        text-align: center;
        color: white;
      
    }

    #id_password1,#id_password2{
        color: black;
    }
    
    /* Title */
    h2 {
        margin-bottom: 20px;
        color: white;
    }
    
    
   
    
    /* Liens */
    .links {
        margin-top: 15px;
    }
    
    .links a {
        color: #04C4D9;
        text-decoration: none;
        font-size: 14px;
    }
    
    .links a:hover {
        text-decoration: underline;
    }
    
    .conditions a{
        color: white;
    }
</style>

<div class="reset-container">



<div class="p_reset-form">
        <h2>
            {% trans "Password Reset" %}
        </h2>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>
            {% trans "Forgotten your password? Enter your email address below." %}
        </p>
        
        <form method="post" action="{% url 'account_reset_password' %}" >
            {% csrf_token %}
            
            <div class="input-group">
                
                {{ form.email }}
                
                {% if form.email.errors %}
                    <div class="form-errors">
                        {% for error in form.email.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        
                <button type="submit" class="log-btn">
                    {% trans 'Reset password' %}
                </button>
            
        </form>

        <p class="mt-4">
            {% trans "Please contact us if you have any trouble resetting your password" %}
        </p>

</div>

<div class="container conditions mt-4 text-center">
    <a href="#">Condition d'utilisation</a> |
    <a href="#">Politique de confidentialité</a>
  </div>
</div>
{% endblock content %}
