{% extends "account/base.html" %}
{% load socialaccount %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %} Oralise | Login {% endblock title %}

{% block content %}
<div class="min-h-screen flex items-center justify-center px-4 py-10">
  <div class="md:bg-white md:rounded-3xl md:shadow-2xl overflow-hidden w-full max-w-5xl grid grid-cols-1 md:grid-cols-2 transition-all duration-300 min-h-[600px] dark:bg-gray-900 dark:rounded-3xl dark:shadow-2xl">

    <!-- FORMULAIRE -->
    <div class="p-10 flex flex-col justify-center h-full">
      <img src="{% static 'assets/img/icons/favicon.png' %}" alt="logo Oralise" class="w-24 mb-3 mx-auto">
      <h2 class="text-base md:text-3xl main-color text-center mb-4 font-bold">{% trans 'Connexion' %}</h2>

      <form method="post" action="{% url 'account_login' %}" class="space-y-5 animate-slide-in">
        {% csrf_token %}

        <div>
          {{ form.login|add_class:"w-full p-3 border border-gray-300 rounded-xl shadow-sm focus:outline-none focus:ring-1 focus:ring-sky-700 focus:border-blue-500 transition dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white" }}
        </div>

        <div>
          {{ form.password|add_class:"w-full p-3 border border-gray-300 rounded-xl shadow-sm focus:outline-none focus:ring-1 focus:ring-sky-700 focus:border-blue-500 transition dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white" }}
        </div>

        {% if form.errors %}
        <p class="text-red-600 text-sm mt-1">{% trans 'Email ou mot de passe incorrect !' %}</p>
        {% endif %}

        <button type="submit" class="w-full bg-main-color hover:bg-main-color-opacity text-white font-medium py-2.5 rounded-xl shadow-md hover:shadow-xl transition-all duration-300">
          Se connecter
        </button>

        <div class="text-center text-gray-400 text-sm">— {% trans 'ou connectez-vous avec' %} —</div>

       

        <div class="text-center text-xs text-gray-400 mt-8">
          <a href="#" class="hover:underline">Conditions d'utilisation</a> |
          <a href="#" class="hover:underline">Politique de confidentialité</a>
        </div>
      </form>
    </div>

    <!-- IMAGE -->
    <div class="h-full w-full hidden md:block">
      <img src="{% static 'assets/img/account/login.jpg' %}" alt="Langues étrangères" class="object-cover w-full h-full">
    </div>

  </div>
</div>
{% endblock content %}
