{% extends "account/base.html" %}

{% load static %}
{% load i18n allauth account %}
{% load widget_tweaks %}

{% block head_title %}
{% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}

<style>
    .title{
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        text-align: center;

    }

    .form-element {
        background-color: rgb(22, 22, 26);
        max-width: 400px;
        width: 100%;
        border: rgb(34, 34, 34);
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 20px;
        padding: 20px;

    }

    .input-element input {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #334155;
        background-color: #0206146c;
        color: white;
        font-size: 15px;
    }

    .input-element input:focus {
        outline: none;
        border-color: #04C4D9;
        box-shadow: 0 0 0 2px rgba(4, 196, 217, 0.3);
    }
    .log-btn{
        background-color: rgb(0, 130, 190);
        padding: 10px;
        text-align: center;
        color: white;
        margin-top: 15px;
        border-radius: 10px;
        width: 100%;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .log-btn:hover{
        background-color: rgb(0, 62, 90);
    }
</style>

<div class="form-container">

    <div class="form-element">
        <h2 class="title">
            {% trans "Password Reset" %}
        </h2>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}


        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}

            <div>

                <div class="input-element">
                    {{ form.email|add_class:"custom-input" }}
                </div>


                {% if form.email.errors %}
                <div class="form-errors">
                    {% for error in form.email.errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>


            <button type="submit" class="log-btn">
                {% trans 'Reset' %}
            </button>

        </form>



    </div>

</div>
{% endblock content %}