{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}

<style>
    .reset_done{
        background-color: transparent;
        padding: 2rem;
        border-radius: 8px;
        border: 1px solid gray;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.596);
        width: 350px;
        text-align: center;
        color: white;
        margin-top: 100px;
        margin: auto;
    }

    .container-element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
   h3{
    color: white;
   }
</style>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
   <div class="container-element">
    <div class="container reset_done">
        <h3 class="text-center">Nous vous avons envoyé un message via votre email, vérifier votre boite email... </h3>
   </div>
   </div>
{% endblock content %}
