{% extends 'dashboard/student/layouts/base.html' %}
{% block title %} Mon Profil {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Salut {{ request.user.first_name }}!!
        </h1>
        <p class="text-white mt-0 mb-5">Ceci est votre page de profil. Vous pouvez suivre votre progression et modifier vos informations personnelles sans la moindre difficulté</p>
        <a href="{% url 'profile_edit' %}" class="btn btn-neutral">Modifier votre profil</a>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="{{ profile.profile_picture.url }}" alt="Photo de profil" width="90px" height="90px"
                class="rounded-circle" style="
                object-fit: cover;
                border: 1px solid #fff;
                padding: 0.5px;
                ">
              
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="{% url 'profile_edit' %}" class="btn btn-sm btn-info mr-4">Modifier</a>
            <a href="{% url 'settings_view' %}" class="btn btn-sm btn-default float-right">Paramètres</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">{{ student.hours_remaining }}</span>
                  <span class="description">Heures restantes</span>
                </div>
                <div>
                  <span class="heading">{{ student.languages.count }}</span>
                  <span class="description">Langues</span>
                </div>
                <div>
                  <span class="heading">{{ student.total_sessions}}</span>
                  <span class="description">Séances</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{user.full_name}} 
              <p>( {{ user.get_role_display }} )</p>
            </h5>
            <div class="h5 font-weight-300">
              {{ request.user.email }}
            </div>
            <div class="h5 mt-4">
              <i class="ni ni-badge mr-2"></i>Matricule: {{ student.matricule }}
            </div>
            <div>
              <i class="ni ni-calendar-grid-58 mr-2"></i>Inscrit le {{ student.date_joined|date:"d/m/Y" }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Informations personnelles</h3>
            </div>
            <div class="col-4 text-right">
              <a href="{% url 'profile_edit' %}" class="btn btn-sm btn-primary">Modifier</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informations utilisateur</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Nom</label>
                    <input type="text" class="form-control" value="{{ user.first_name }}" readonly>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Prénom</label>
                    <input type="text" class="form-control" value="{{ user.last_name }}" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input type="email" class="form-control" value="{{ user.email }}" readonly>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Nom d'utilisateur</label>
                    <input type="text" class="form-control" value="{{ user.username }}" readonly>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Informations de contact</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Adresse</label>
                    <input type="text" class="form-control" value="{{ profile.address }}" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Ville</label>
                    <input type="text" class="form-control" value="{{ profile.city }}" readonly>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Pays</label>
                    <input type="text" class="form-control" value="{{ profile.country }}" readonly>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Téléphone</label>
                    <input type="text" class="form-control" value="{{ profile.number }}" readonly>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">À propos</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">Bio</label>
                <textarea rows="4" class="form-control" readonly>{{ profile.about }}</textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
