{% load static %}
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="{% url 'dashboard_view' username=request.user.username %}">
      
        <img src="{% static 'public/img/logo.png' %}" class="navbar-brand-img" alt="logo Edusco">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="{% url 'dashboard_view' username=request.user.username %}">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_view' %}">
              <i class="ni ni-single-02 text-red"></i>
              <span class="nav-link-text">Mes informations</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'skills_view' %}">
              <i class="ni ni-books text-success"></i>
              <span class="nav-link-text">Mes matières / cours</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'marks_view' %}">
              <i class="ni ni-chart-bar-32 text-warning"></i>
              <span class="nav-link-text">Mes notes / bulletins</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule_view' %}">
              <i class="ni ni-calendar-grid-58 text-info"></i>
              <span class="nav-link-text">Emploi du temps</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'resources_view' %}">
              <i class="ni ni-folder-17 text-primary"></i>
              <span class="nav-link-text">Ressources / Documents</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'requests_view' %}">
              <i class="ni ni-send text-pink"></i>
              <span class="nav-link-text">Demandes / Requêtes</span>
            </a>
          </li>

          
         

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>   
          
        {% endif %}  
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Resources</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link" 
               target="_blank" 
               href="{% url 'settings_view' %}">
              <i class="ni ni-settings-gear-65 text-dark"></i>
              <span class="nav-link-text">Parametres</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
               target="_blank" 
              href="#">
              <i class="ni ni-help-2"></i>
              <span class="nav-link-text">Aide</span>
            </a>
          </li>

    

         
        </ul>
      </div>
    </div>
  </div>
</nav>