@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
@layer utilities {
  /* Ombre colorée dynamique */
  .text-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  }

  .text-shadow-blue {
    text-shadow: 2px 2px 6px rgba(0, 149, 255, 0.6);
  }

  .text-shadow-red {
    text-shadow: 2px 2px 6px rgba(255, 0, 0, 0.4);
  }

  /* Glow effet néon clair */
  .text-shadow-glow {
    text-shadow:
      0 0 5px #0ff,
      0 0 10px #0ff,
      0 0 15px #0ff;
  }

  /* Version dark mode */
  .dark\:text-shadow-glow-dark {
    text-shadow:
      0 0 6px #fff,
      0 0 10px #0ff,
      0 0 15px #0ff;
  }
  .main-color{
    color:#26b2bc;
  }
  .bg-main-color{
    background-color:#26b2bc;
  }

  .shadow-img{
    box-shadow: 0 10px 20px rgba(38, 178, 188, 0.3), 
            0 6px 6px rgba(38, 178, 188, 0.2);

  }
   
  .bg-hover-main-color{
    background-color:#1a8f96;
  }
.bg-main-color-opacity {
  background-color: #26b2bc4d;
}
  .bg-secondary-color{
    background-color:#c41e3a;
  }
   .bg-secondary-color-hover{
    background-color:#a11b32b7;
  }
  .secondary-color{
    color:#c41e3a;
  }
  
  .border-main-color{
    border: 2px solid #26b2bc;
  }
   .border-main-color-mobile{
    border: 1px solid #26b2bc;
  }
}