{% load static %}
{% load i18n %}
{% load compress %}
<!-- Topnav -->
<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search form -->
            
            
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center ml-md-auto">
                <li class="nav-item d-xl-none">
                    <!-- Sidenav toggler -->
                    <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </div>
                </li>
                
                <li class="nav-item d-sm-none">
                    <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                        <i class="ni ni-zoom-split-in"></i>
                    </a>
                </li>
                
                <!-- Dark Mode Toggle -->
                <li class="nav-item">
                    <a class="nav-link" href="#" id="darkModeToggle">
                        <i class="fas fa-moon"></i>
                    </a>
                </li>
                
                

                
            </ul>
            
            <!-- User -->
            <ul class="navbar-nav align-items-center ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media align-items-center">
                            <span class="">
                                <img src="{% static 'assets/img/profile.png' %}" alt="Image placeholder" style="width: 50px;
                 border-radius: 50%;
                 box-shadow: 7px 5px 7px 5px rgba(0, 0, 0, 0.062);
                 ">
                            </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="mb-0 text-sm font-weight-bold text-white">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Bienvenue!</h6>
                        </div>
                        <a href="{% url 'profile_view' %}" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>Mon profil</span>
                        </a>
                        <a href="{% url 'settings_view' %}" class="dropdown-item">
                            <i class="ni ni-settings-gear-65"></i>
                            <span>Paramètres</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Déconnexion</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav> 